:root{
    --logo-size: 100px;
    --circle-image: 200px;
    --square-image: 500px;
}
body{
    position: relative;
    height: 100vh;
    transition: .2s;
}
.light-mode-mode{
    background-color: #dad1c2 !important;
    color: black !important;
}
.light-mode-drop-shadow{
    filter: brightness(60%) contrast(110%) drop-shadow(0 0 10px white) !important;
}
.light-mode-box-shadow{
    box-shadow: 0 0 5px .1px white !important;
}
.light-mode-background{
    background-color: #dad1c2 !important;
}
.light-mode-color{
    color: black !important;
}
.light-mode-menu-background{
    background-color: #ba7335 !important;
}
.light-mode-menu-background-hover{
    background-color: transparent !important;
}
.light-mode-menu-background-hover:hover{
    background-color: #ba7335 !important;
}
.light-mode-menu-card-background{
    background-color: #222222 !important;
}
.light-mode-footer-background{
    background-color: #ba7445 !important;
    color: white !important;
}
.light-mode-color-orange{
    color: white !important;
}
.light-mode-color-orange:hover{
    color:grey !important;
}
body::-webkit-scrollbar{
    display: none;
}
*{
    box-sizing: border-box;
}
.text-justify{
    text-align: justify;
    text-justify: inter-word;
}
.main-body{
    visibility: hidden;
}
.logo-spinner{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 1s;
    z-index: 994555;
    top: 0;
    left: 0;
}
.logo-spinner img{
    transition: 1s;
    animation: loading-logo 2s infinite linear;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #222222,
                0 0 0 20px grey,
                0 0 0 30px #222222,
                0 0 0 40px black;
}
@keyframes loading-logo{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        border-radius: 0%;
    }
    100%{
        transform: rotate(360deg);
    }
}